<template>
  <div class="callback">
    <span>You are now logged in.</span>
  </div>
</template>

<script>
import router from '@/router';
import { mapActions } from 'vuex';

export default {
  name: 'callback',
  methods: mapActions(['handleAuthentication']),
  mounted() {
    this.handleAuthentication().then((data) => {
      router.push({ path: '/home' });
    });
  }
};
</script>