<template>
  <div id="nav-bar">
    <v-navigation-drawer
      v-model="drawer"
      app>
      <v-list>
        <v-list-tile
          v-for="(item, i) in items"
          :key="i"
          :to="item.to"
          router
          exact>
          <v-list-tile-content>
            <v-list-tile-title v-text="item.title" />
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar dark app color="primary">
      <v-toolbar-side-icon @click="drawer = !drawer" />
      <v-toolbar-title v-text="title" />
      <v-spacer />
      <template v-if="$store.getters.isAuthenticated">
        <span class="display-flex display-centered">
          <v-menu offset-y>
            <template v-slot:activator="{ on }">
              <v-btn color="primary" dark v-on="on">                
              </v-btn>
            </template>
            <v-list>
              <v-list-tile @click="logout">
                <v-list-tile-title>Logout</v-list-tile-title>
              </v-list-tile>
            </v-list>
          </v-menu>          
        </span>
      </template>
    </v-toolbar>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import store from '../../store/index';
import router from '../../router';

@Component({
  methods: {
      logout: () => {
          store.dispatch('logout');
          router.push({ path: 'home' });
        }
      }
  // computed: {
  //   // picture() {
  //   //   return (
  //   //     dotProp(this.store.user, 'picture') || // OpenID
  //   //     dotProp(this.$auth.user, 'picture.data.url') || // Facebook graph API
  //   //     dotProp(this.$auth.user, 'avatar_url')
  //   //   );
  //   // }
  // }
})
// import dotProp from 'dotprop'
export default class SideBar extends Vue {
  public data() {
    return {
      title: 'myShopi',
      drawer: false,
      items: [
        {
          title: 'Home',
          to: '/'
        },
        {
          title: 'Banners',
          to: '/banners'
        },
        {
          title: 'About',
          to: '/about'
        },
      ]
    };
  }
}
</script>

<!--style lang="scss" scoped>
#b-nav-item-dropdown {
color: $warm-white !important;
}

#li {
  visibility: hidden;
}

.display-flex {
   display: flex;
}

.display-centered {
  align-items: center;
}
</style--!>
