<script lang="ts">
import { Component, Vue, Prop, Watch } from 'vue-property-decorator';
import Banner from '../../models/banner/Banner';
import $store from '../../store/index';

@Component({})
export default class ListView extends Vue {

  get headers(): any {
    return [
      {
        text: 'CampaignName',
        align: 'left',
        sortable: false,
        value: 'campaignName'
      },
      { text: 'StartDate', value: 'startDate' },
      // { text: 'EndDate', value: 'endDate' },
      // { text: 'Status', value: 'status' },
      // { text: 'Mobile', value: 'mobile.displayed' },
      // { text: 'Web', value: 'web.displayed', sortable: false },
    ];
  }

  get bannerList(): Banner[] {
    return this.$store.getters.banners;
  }

  get formTitle(): string {
    return this.editedIndex === -1 ? 'New Item' : 'Edit Item';
  }
  // @Prop()
  private banners!: Banner[];

  private editedIndex: any = -1;

  private editedItem!: Banner;

  private defaultItem!: Banner;

  public created() {
    this.initialize();
  }

  public initialize() {
    $store.dispatch('getBanners')
      .then(() => {
        this.updateInternal();
    });
  }

  public editItem(item: Banner) {
    this.editedIndex = this.banners.indexOf(item);
    this.editedItem = Object.assign({}, item);
    // this.dialog = true
  }

  public deleteItem(item: Banner) {
    const index = this.banners.indexOf(item);
    // confirm('Are you sure you want to delete this item?') && this.banners.splice(index, 1);
  }

  public close() {
      // this.dialog = false
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
    }

    public save() {
      if (this.editedIndex > -1) {
        Object.assign(this.banners[this.editedIndex], this.editedItem);
      } else {
        this.banners.push(this.editedItem);
      }
      this.close();
    }

  private updateInternal() {
    const result = this.$store.getters.banners;
    this.banners = result;
  }
}
</script>

<template>
  <div>
    <v-toolbar flat color="white">
      <v-toolbar-title>My CRUD</v-toolbar-title>
      <v-divider
        class="mx-2"
        inset
        vertical/>
      <v-spacer />
      <!-- v-dialog v-model="dialog" max-width="500px">
        <template v-slot:activator="{ on }">
          <v-btn color="primary" dark class="mb-2" v-on="on">
            New Item
          </v-btn>
        </template>
        <v-card>
          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>

          <v-card-text>
            <v-container grid-list-md>
              <v-layout wrap>
                <v-flex xs12 sm6 md4>
                  <v-text-field v-model="editedItem.name" label="Dessert name" />
                </v-flex>
                <v-flex xs12 sm6 md4>
                  <v-text-field v-model="editedItem.calories" label="Calories" />
                </v-flex>
                <v-flex xs12 sm6 md4>
                  <v-text-field v-model="editedItem.fat" label="Fat (g)" />
                </v-flex>
                <v-flex xs12 sm6 md4>
                  <v-text-field v-model="editedItem.carbs" label="Carbs (g)" />
                </v-flex>
                <v-flex xs12 sm6 md4>
                  <v-text-field v-model="editedItem.protein" label="Protein (g)" />
                </v-flex>
              </v-layout>
            </v-container>
          </v-card-text>

          <v-card-actions>
            <v-spacer />
            <v-btn color="blue darken-1" flat @click="close">
              Cancel
            </v-btn>
            <v-btn color="blue darken-1" flat @click="save">
              Save
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog> -->
    </v-toolbar>
    <v-data-table
      :headers="headers"
      :items="bannerList"
      class="elevation-1">
      <template v-slot:items="bannerList">
        <td>{{ bannerList.item.campaignName }}</td>
        <td class="text-xs-right">
          {{ bannerList.item.startDate }}
        </td>
        <!-- <td class="text-xs-right">
          {{ banners.item.fat }}
        </td>
        <td class="text-xs-right">
          {{ banners.item.carbs }}
        </td>
        <td class="text-xs-right">
          {{ banners.item.protein }}
        </td>
        <td class="justify-center layout px-0">
          <v-icon
            small
            class="mr-2"
            @click="editItem(banners.item)">
            edit
          </v-icon>
          <v-icon
            small
            @click="deleteItem(banners.item)">
            delete
          </v-icon>
        </td> -->
      </template>
      <template v-slot:no-data>
        <v-btn color="primary" @click="initialize">
          Reset
        </v-btn>
      </template>
    </v-data-table>
  </div>
</template>

// export default {
//   data: () => ({
//     dialog: false,
//     headers: [
//       {
//         text: 'Dessert (100g serving)',
//         align: 'left',
//         sortable: false,
//         value: 'name'
//       },
//       { text: 'Calories', value: 'calories' },
//       { text: 'Fat (g)', value: 'fat' },
//       { text: 'Carbs (g)', value: 'carbs' },
//       { text: 'Protein (g)', value: 'protein' },
//       { text: 'Actions', value: 'name', sortable: false }
//     ],
//     desserts: [],
//     editedIndex: -1,
//     editedItem: {
//       name: '',
//       calories: 0,
//       fat: 0,
//       carbs: 0,
//       protein: 0
//     },
//     defaultItem: {
//       name: '',
//       calories: 0,
//       fat: 0,
//       carbs: 0,
//       protein: 0
//     }
//   }),

//   computed: {
//     formTitle() {
//       return this.editedIndex === -1 ? 'New Item' : 'Edit Item'
//     }
//   },

//   watch: {
//     dialog(val) {
//       val || this.close()
//     }
//   },

//   created() {
//     this.initialize()
//   },

//   methods: {
//     initialize() {
//       this.desserts = [
//         {
//           name: 'Frozen Yogurt',
//           calories: 159,
//           fat: 6.0,
//           carbs: 24,
//           protein: 4.0
//         },
//         {
//           name: 'Ice cream sandwich',
//           calories: 237,
//           fat: 9.0,
//           carbs: 37,
//           protein: 4.3
//         },
//         {
//           name: 'Eclair',
//           calories: 262,
//           fat: 16.0,
//           carbs: 23,
//           protein: 6.0
//         },
//         {
//           name: 'Cupcake',
//           calories: 305,
//           fat: 3.7,
//           carbs: 67,
//           protein: 4.3
//         },
//         {
//           name: 'Gingerbread',
//           calories: 356,
//           fat: 16.0,
//           carbs: 49,
//           protein: 3.9
//         },
//         {
//           name: 'Jelly bean',
//           calories: 375,
//           fat: 0.0,
//           carbs: 94,
//           protein: 0.0
//         },
//         {
//           name: 'Lollipop',
//           calories: 392,
//           fat: 0.2,
//           carbs: 98,
//           protein: 0
//         },
//         {
//           name: 'Honeycomb',
//           calories: 408,
//           fat: 3.2,
//           carbs: 87,
//           protein: 6.5
//         },
//         {
//           name: 'Donut',
//           calories: 452,
//           fat: 25.0,
//           carbs: 51,
//           protein: 4.9
//         },
//         {
//           name: 'KitKat',
//           calories: 518,
//           fat: 26.0,
//           carbs: 65,
//           protein: 7
//         }
//       ]
//     },

//     editItem(item) {
//       this.editedIndex = this.desserts.indexOf(item)
//       this.editedItem = Object.assign({}, item)
//       this.dialog = true
//     },

//     deleteItem(item) {
//       const index = this.desserts.indexOf(item)
//       confirm('Are you sure you want to delete this item?') && this.desserts.splice(index, 1)
//     },

//     close() {
//       this.dialog = false
//       setTimeout(() => {
//         this.editedItem = Object.assign({}, this.defaultItem)
//         this.editedIndex = -1
//       }, 300)
//     },

//     save() {
//       if (this.editedIndex > -1) {
//         Object.assign(this.desserts[this.editedIndex], this.editedItem)
//       } else {
//         this.desserts.push(this.editedItem)
//       }
//       this.close()
//     }
//   }
// }