<template>
  <div class="about">
   <p> Incredible about page </p>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
@Component({

})
export default class About extends Vue {}
</script>
